<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta chartset="utf-8">
    <link rel="icon" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    {{ if eq "Home" .Title }}
    <link rel="stylesheet" type="text/css" href="/pink_on_black.css">
    {{ else if eq "Manifesto" .Title }}
    <link rel="stylesheet" type="text/css" href="/black_on_pink.css">
    {{ else if eq "Donate" .Title }}
    <link rel="stylesheet" type="text/css" href="/white_on_black.css">
    {{ end }}
    <title>Queerious Labs - {{ .Title }}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/manifesto">Manifesto</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="https://wiki.queeriouslabs.com">Wiki</a></li>
      </ul>
    </nav>
