{{ partial "header.html" . }}

    <section id="description">
      
      <h1>What is Queerious Labs?</h1>
      
      <p>Queerious Labs is an experimental art and technology creative space and community workshop located in San Francisco's SoMa district. We're queers, women, feminists, people of color, trans folx — basically a collection of social outcasts — looking for new ways of organizing social situations in technically and artistically constructive contexts.</p>
      
      <h2>How to Participate</h2>
      
      <p>Participating in Queerious Labs is super easy! Just come hang out and hack on something! But if you want a slightly more defined means of participating, you can come to a class or event being held here. </p>
      
    </section>

    <section id="events">
      
      <h1>Events</h1>

      <p>This will be an events calendar.</p>

    </section>

    <section id="cocblurb">
      
      <h1>Code of Conduct</h1>
      
      <p>Queerious Labs has a Code of Conduct that we take very seriously. We want this place to be safe and welcoming to marginalized people of all sorts.</p>
      
      <h2>Our Pledge</h2>
      
      <p>In the interest of fostering an open and welcoming environment, we as participants pledge to making participation in our space and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.</p>
      
      <h2>Our Standards</h2>
      
      <p>Examples of behavior that contributes to creating a positive environment include:</p>
      
      <p>
          <ul>
            <li>Using welcoming and inclusive language</li>
            <li>Being respectful of differing viewpoints and experiences</li>
            <li>Gracefully accepting constructive criticism</li>
            <li>Focusing on what is best for the community</li>
            <li>Showing empathy towards other community participants</li>
          </ul>
      </p>
      
      <p>Examples of behavior that detracts from a positive environment include:</p>
      
      <p>
          <ul>
            <li>Unwelcome attention or advances</li>
            <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
            <li>Public or private harassment or deliberate intimidation</li>
            <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
            <li>Persistent disruption of events, conversations, or other activities</li>
            <li>Requiring explanations for why oppressive behavior and attitudes are harmful</li>
          </ul>
      </p>
      
      <p>This list is not exhaustive, and may be elaborated upon further as the setting requires it. These are merely representative examples intended to convey an intuitive understanding of what this Code of Conduct is about.</p>
      
      <h2>Scope</h2>
      
      <p>This Code of Conduct applies both within community spaces, both digital and physical, and when an individual is representing the community. Examples of representing Queerious Labs or the community include using an official Queerious Labs e-mail address, posting via an official social media account, or acting as an appointed representative at an online or offline event.</p>

      <p>We also hold people to these standards outside the space. The fact that harmful or problematic behavior occurs outside the space does not mean that the bad actors are exempt from accountability within the space. Queerious Labs prioritizes the safety and comfort of those harmed over the access of those who harmed, and we do not consider it “drama” to raise concerns about a person for reasons of their behavior external to the space.</p>
        
    </section>
    
    <section id="info">
        
      <h1>Contact</h1>
      
      <p>Twitter: <a href="https://www.twitter.com/QueeriousLabs">@QueeriousLabs</a></p>
      
      <p>Email: <a href="mailto:info@queeriouslabs.com">info@queeriouslabs.com</a></p>
      
      <h1>Location</h1>
      
      <p>223B Harriet St<br/>San Francisco, CA 94103</p>
      
      <h1>Hours</h1>
      
      <p>Weekdays: 7pm-Midnight<br/>Weekends: Noon-Midnight</p>
      <p>No guarantees tho! Get in touch if you want to be sure!</p>
      
    </section>

{{ partial "footer.html" . }}
